<section class="row everbank-section">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 everbank-dashboard-nav">
        <a asp-controller="Home" asp-action="Logout" class="everbank-dashboard-nav__option"><span class="glyphicon glyphicon-log-out everbank-dashboard-nav__icon"></span>Logout</a>
        <a asp-controller="Home" asp-action="DepositFunds" class="everbank-dashboard-nav__option"><span class="glyphicon glyphicon-plus-sign everbank-dashboard-nav__icon"></span>Make a Deposit</a>
        <a asp-controller="Home" asp-action="WithdrawFunds" class="everbank-dashboard-nav__option"><span class="glyphicon glyphicon-minus-sign everbank-dashboard-nav__icon"></span>Withdraw Funds</a>
    </div>
</section>
