@if(Model != null && Model.Messages != null && Model.Messages.Count > 0)
    {
    <section class="everbank-message-space">
        @foreach (Everbank.Service.Contracts.Message message in Model.Messages)
        {
        <div class="alert @Everbank.Web.Helpers.MessageHelper.MessageTypeToClassName(message.Type) everbank-alert">
            @message.Text
        </div>
        }
    </section>
    }
