/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.everbank-section {
    margin-top: 15px;
}

.everbank-full-button {
    margin-bottom: 8px;
}

.everbank-alert {
    margin-bottom: 0;
}