@model Everbank.Web.Models.DashboardModel

@{
    ViewData["Title"] = "Everbank";
}

<header class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h1>Welcome, @Model.User.FirstName!</h1>
    </div>
</header>
<section class="row everbank-section">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <a asp-controller="Home" asp-action="Logout">Logout</a> |
        <a asp-controller="Home" asp-action="DepositFunds">Make a Deposit</a> |
        <a asp-controller="Home" asp-action="WithdrawFunds">Withdraw Funds</a>
    </div>
</section>

<section class="row everbank-section">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        Account Balance: @string.Format("{0:C}", Model.AccountBalance)
    </div>
</section>
<section class="row everbank-section">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        @if(Model.Transactions != null && Model.Transactions.Count > 0)
            {
                foreach(var transaction in Model.Transactions)
                {
                    <div class="col-xs-12">@transaction.Time.ToString() | @string.Format("{0:C}",transaction.Amount)</div>
                }
            }
    </div>
</section>