@model Everbank.Web.Models.TransactionFormModel

@{
    ViewData["Title"] = "Everbank";
}

<header class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        @if(ViewBag.IsDeposit)
            {
            <h1>Make a Deposit</h1>
            }
        else
            {
            <h1>Withdraw Funds</h1>
            }
    </div>
</header>
<section class="row everbank-section">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        @if(ViewBag.IsDeposit)
            {
            <form asp-action="DepositFunds" asp-controller="Home">
                <div class="form-group">
                    <label asp-for="Amount">Amount</label>
                    <input type="number" class="form-control" asp-for="Amount">
                </div>
                <button type="submit" class="btn btn-primary btn-lg col-xs-12 everbank-full-button"><strong>Make Deposit</strong> <span class="glyphicon glyphicon-chevron-right"></span></button>
            </form>
            }
        else
            {
            <form asp-action="WithdrawFunds" asp-controller="Home">
                <div class="form-group">
                    <label asp-for="Amount">Amount</label>
                    <input type="number" class="form-control" asp-for="Amount">
                </div>
                <button type="submit" class="btn btn-primary btn-lg col-xs-12 everbank-full-button"><strong>Withdraw Funds</strong> <span class="glyphicon glyphicon-chevron-right"></span></button>
            </form>
            }
    </div>
</section>